
<h1>제목 </h1>
{{blog_detail.title}}

<h2>본문</h2>
{{blog_detail.body}}
<h3>날짜 </h3>
{{blog_detail.date}}

{% if blog_detail.photo %}
<!--사진 찍어주기 코드 -->
    {{blog_detail.photo.url}} <!-- url대신 path 쓰면 실제 저장된 위치가 나타남-->
    <img src = "{{blog_detail.photo.url}}" alt="" height="600">
{% endif %}
<h4>댓글</h4>
<form method="POST" action="{%url 'create_comment' blog_detail.id%}">
    {%csrf_token%}
    {{comment_form}}
    <input type="submit">
</form>


{% for comment in blog_detail.comment_set.all%}<!--특정 객체를 참조하고 있는 모델들의 집합 blog_detail이라는 모델을 참조하고 있는 외래키를 가진 comment 집합을 전부 부른다-->
<p>{{comment}}</p>
<hr><!--선그어주기-->
{% endfor %}