{% extends 'navbar.html' %}
{%load static %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>임준현 이력서</title>   
        <link rel="stylesheet" href="{%static 'css/namecard.css' %}"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>     
    <body>
           <p class="Biggestname">임준현</p>
    
        <div class="cont">
                <p class="Edu">Education</p>
                
                    <p class="Edu_def">
                        <p>Global town Kindergarten(2007~2008)</p> 
                        <p>SLP Bundang             (2008~2011)</p>   
                        <p>Seongnam Migeum E.S     (2009~2014)</p>    
                        <p> Donghwa M.S             (2015~2017)</p>   
                        <p> Hanmin H.S              (2018~2020)</p>   
                        <p> Hanyang Univ            (2022~    )</p>   
                        <p>Like lion 10th          (2022)</p>    
                    </p>
    <p class="Info">Info</p>
    <p class="info_def">
            <p>Lives in NYJ</p>
            <p>Contact:888mission@codelion.org</p>
            <p>Part:BackEnd</p>
    </p>
    <div class="icon">
       <a href="https://www.instagram.com/xianiax02"><i class="fa-brands fa-instagram"></i></a> <a href="https://www.facebook.com/limjunhyoun"> <i class="fa-brands fa-facebook"></i></a>
    </div>
    </body>
    <footer>
            Copyright by LJH. All rights reserved
    </footer>
</html>
{% endblock %}